<footer style="background-color:#292B35">
    <row>
        <columns>
            <center>
                <img class="footer-logo" src="../assets/img/pendo_white_footer.png" />
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <a href="https://www.linkedin.com/company/pendo-io/"><img class="social-icons" src="../assets/img/linkedin_recipe.png" /></a>
                <a href="https://twitter.com/pendoio"><img class="social-icons" src="../assets/img/facebook_recipe.png" /></a>
                <a href="#"><img class="social-icons" src="../assets/img/twitter_recipe.png" /></a>
            </center>
        </columns>
    </row>
    <row>
        <columns class="slack-line">
            <center>
                <img class="slack" src="../assets/img/slack_recipe.svg" />
                <a href="#" style="color:white;"><i>Join our Slack channel</i></a>
            </center>
        </columns>
    </row>
</footer>